/* GENERAL ------------------------------- */
body {
  /* margin: 0; */
}

.text {
  height: 100px;
}

.play {
  /* align: auto; */
  margin: 50px;
}

#action {
  border: none;
}
#status {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

button {
  padding: 10px 30px;
}
